body{
    scroll-behavior: smooth;
    padding: 0;
    background-image: url(/img/white_bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    font-style:italic;
    float: right;
    background-color: aqua;
}

footer{
    display: flex;
    justify-content: center;
}

.title{
    font-size: 50px;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

.title--second{
    margin-top: 0;
    margin-left: 25%;
    font-size: 30px;
}

h2{
    color: rgb(0, 0, 0);
    /* background-color: rgba(245, 187, 187, 0.432); */
    /* background: linear-gradient(to right, rgb(255, 216, 216), rgb(250, 248, 247)); */
    margin-left: 10px;
    margin-top: 50px;
    text-decoration: underline;
    transition: 0.4s;
    background-size: 600% 600%;
    animation: gradientAnimation 3s ease infinite;
}

h2:hover{
    filter: brightness(0.5);
}


p{
    color: rgb(54, 54, 54);
}

ul{
    color: rgb(107, 68, 20);
    list-style: circle;
}

.projects{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.projects article{

    width: 40%;
    margin-left: 2%;


}

.projects__demo__image{

    width: 100%;
}

@media screen and (width > 1024px) {
    .projects__demo article{
        width: 20%;
        margin-left: 2%;
    }
}

gmp-map {
    height: 400px;
  }

nav{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    font-size: 20px;
    display: grid;
    gap: 5px;
    
}

.breakdown + nav{
    height: 127px;
    padding: 10px;

}

#menuIcon{
    width: 40px;
}