body{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    background-image: url(/img/white_bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    font-style:italic;
    float: right;
    background-color: rgba(255, 255, 240, 0);
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    transition: 0.5s;
    z-index: 999;
}

main{
    padding:10px;
}

footer{
    display: flex;
    justify-content: center;
}

img{
    height: 100%;
    width: 100%;
}

.title{
    font-size: 50px;
    margin-left: 50px;
    position: relative;
    top: 50px;
}

.title--second{
    font-size: 30px;
}

h1{
    margin: 0;
}

h2{
    color: rgb(0, 0, 0);
    /* background-color: rgba(255, 187, 187, 0.432); */
    /* background: linear-gradient(to right, rgb(255, 216, 216), rgb(250, 248, 247)); */
    margin-left: 10px;
    margin-top: 50px;
    text-decoration: underline;
    transition: 0.4s;
    background-size: 600% 600%;
    animation: gradientAnimation 3s ease infinite;
}

h2:hover{
    filter: brightness(0.5);
}


p{
    color: rgb(54, 54, 54);
}

ul{
    color: rgb(107, 68, 20);
    list-style: circle;
}

.projects{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.projects article{

    width: 40%;
    margin-left: 2%;


}

.projects__demo__image{

    width: 100%;
}

@media screen and (width > 1024px) {
    .projects__demo article{
        width: 20%;
        margin-left: 2%;
    }
}

gmp-map {
    height: 400px;
  }

nav{
    transition: 0.5s;
    font-size: 20px;
    display: flex;
    gap: 5px;
    position: absolute;
    right: 88px;
    top: -107px;
}

.menuIcon{
    width: 30px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 20px;
}

.bar{
    background-color: black;
    height: 4px;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.bar__top{
    top: 0;
}

.bar__bottom{
    top: 15px;
}


.active nav{
    height: 80vh;
    position: relative;
    left: 0;
    top: 200px;
    flex-direction: column;
    gap: 80px;
    background-color: rgb(255, 255, 248);
}

.active .navigation{
    font-size: 40px;
    text-align: center;
    color: rgb(78, 91, 92);
    text-decoration: none;
}

.active .bar__top{
    transform: rotate(45deg);
    top: 10px;
}

.active .bar__bottom{
    transform: rotate(-45deg);
    top: 10px;
}

.active#header{
    height: 100%;
    background-color: rgba(255, 255, 248, 1);
}

.blog__imgdisplay{
    padding: 0;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;

}

.blog__imgdisplay__slide{
    width:100%;
    height: 400px;
    display: inline-block;
    animation: slide 12s infinite;
}

